/tmp/
*.pyc

# Visual Studio
Debug/
Release/
bin/
obj/
.vs/
*.opendb
*.sdf
*.suo
*.vcxproj.user

# Xcode
xcuserdata/
DerivedData/
*.mode1v3
*.pbxuser
build/
*.xccheckout

# JetBrains IDEs
.idea/
