<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!--
	CMake version 3.02 syntax coloring

	v0.1 by Michael Conrad Tadpol Tilstra <tadpol@tadpol.org>
		http://tadpol.org/projects/bbclm_for_cmake.html
	v0.2 by Alexey Lysiuk
		https://github.com/alexey-lysiuk

	Keyword list is made from cmake --help-command-list --help-module-list | grep -v 'cmake version'
-->

<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
	    <!-- Commands -->
		<string>add_compile_options</string>
		<string>add_custom_command</string>
		<string>add_custom_target</string>
		<string>add_definitions</string>
		<string>add_dependencies</string>
		<string>add_executable</string>
		<string>add_library</string>
		<string>add_subdirectory</string>
		<string>add_test</string>
		<string>aux_source_directory</string>
		<string>break</string>
		<string>build_command</string>
		<string>build_name</string>
		<string>cmake_host_system_information</string>
		<string>cmake_minimum_required</string>
		<string>cmake_policy</string>
		<string>configure_file</string>
		<string>create_test_sourcelist</string>
		<string>ctest_build</string>
		<string>ctest_configure</string>
		<string>ctest_coverage</string>
		<string>ctest_empty_binary_directory</string>
		<string>ctest_memcheck</string>
		<string>ctest_read_custom_files</string>
		<string>ctest_run_script</string>
		<string>ctest_sleep</string>
		<string>ctest_start</string>
		<string>ctest_submit</string>
		<string>ctest_test</string>
		<string>ctest_update</string>
		<string>ctest_upload</string>
		<string>define_property</string>
		<string>else</string>
		<string>elseif</string>
		<string>enable_language</string>
		<string>enable_testing</string>
		<string>endforeach</string>
		<string>endfunction</string>
		<string>endif</string>
		<string>endmacro</string>
		<string>endwhile</string>
		<string>exec_program</string>
		<string>execute_process</string>
		<string>export</string>
		<string>export_library_dependencies</string>
		<string>file</string>
		<string>find_file</string>
		<string>find_library</string>
		<string>find_package</string>
		<string>find_path</string>
		<string>find_program</string>
		<string>fltk_wrap_ui</string>
		<string>foreach</string>
		<string>function</string>
		<string>get_cmake_property</string>
		<string>get_directory_property</string>
		<string>get_filename_component</string>
		<string>get_property</string>
		<string>get_source_file_property</string>
		<string>get_target_property</string>
		<string>get_test_property</string>
		<string>if</string>
		<string>include</string>
		<string>include_directories</string>
		<string>include_external_msproject</string>
		<string>include_regular_expression</string>
		<string>install</string>
		<string>install_files</string>
		<string>install_programs</string>
		<string>install_targets</string>
		<string>link_directories</string>
		<string>link_libraries</string>
		<string>list</string>
		<string>load_cache</string>
		<string>load_command</string>
		<string>macro</string>
		<string>make_directory</string>
		<string>mark_as_advanced</string>
		<string>math</string>
		<string>message</string>
		<string>option</string>
		<string>output_required_files</string>
		<string>project</string>
		<string>qt_wrap_cpp</string>
		<string>qt_wrap_ui</string>
		<string>remove</string>
		<string>remove_definitions</string>
		<string>return</string>
		<string>separate_arguments</string>
		<string>set</string>
		<string>set_directory_properties</string>
		<string>set_property</string>
		<string>set_source_files_properties</string>
		<string>set_target_properties</string>
		<string>set_tests_properties</string>
		<string>site_name</string>
		<string>source_group</string>
		<string>string</string>
		<string>subdir_depends</string>
		<string>subdirs</string>
		<string>target_compile_definitions</string>
		<string>target_compile_options</string>
		<string>target_include_directories</string>
		<string>target_link_libraries</string>
		<string>try_compile</string>
		<string>try_run</string>
		<string>unset</string>
		<string>use_mangled_mesa</string>
		<string>utility_source</string>
		<string>variable_requires</string>
		<string>variable_watch</string>
		<string>while</string>
		<string>write_file</string>
        <!-- Modules -->
		<string>AddFileDependencies</string>
		<string>BundleUtilities</string>
		<string>CMakeAddFortranSubdirectory</string>
		<string>CMakeBackwardCompatibilityCXX</string>
		<string>CMakeDependentOption</string>
		<string>CMakeDetermineVSServicePack</string>
		<string>CMakeExpandImportedTargets</string>
		<string>CMakeFindDependencyMacro</string>
		<string>CMakeFindFrameworks</string>
		<string>CMakeFindPackageMode</string>
		<string>CMakeForceCompiler</string>
		<string>CMakeGraphVizOptions</string>
		<string>CMakePackageConfigHelpers</string>
		<string>CMakeParseArguments</string>
		<string>CMakePrintHelpers</string>
		<string>CMakePrintSystemInformation</string>
		<string>CMakePushCheckState</string>
		<string>CMakeVerifyManifest</string>
		<string>CPack</string>
		<string>CPackBundle</string>
		<string>CPackComponent</string>
		<string>CPackCygwin</string>
		<string>CPackDMG</string>
		<string>CPackDeb</string>
		<string>CPackNSIS</string>
		<string>CPackPackageMaker</string>
		<string>CPackRPM</string>
		<string>CPackWIX</string>
		<string>CTest</string>
		<string>CTestScriptMode</string>
		<string>CTestUseLaunchers</string>
		<string>CheckCCompilerFlag</string>
		<string>CheckCSourceCompiles</string>
		<string>CheckCSourceRuns</string>
		<string>CheckCXXCompilerFlag</string>
		<string>CheckCXXSourceCompiles</string>
		<string>CheckCXXSourceRuns</string>
		<string>CheckCXXSymbolExists</string>
		<string>CheckFortranFunctionExists</string>
		<string>CheckFunctionExists</string>
		<string>CheckIncludeFile</string>
		<string>CheckIncludeFileCXX</string>
		<string>CheckIncludeFiles</string>
		<string>CheckLanguage</string>
		<string>CheckLibraryExists</string>
		<string>CheckPrototypeDefinition</string>
		<string>CheckStructHasMember</string>
		<string>CheckSymbolExists</string>
		<string>CheckTypeSize</string>
		<string>CheckVariableExists</string>
		<string>Dart</string>
		<string>DeployQt4</string>
		<string>Documentation</string>
		<string>ExternalData</string>
		<string>ExternalProject</string>
		<string>FeatureSummary</string>
		<string>FindALSA</string>
		<string>FindASPELL</string>
		<string>FindAVIFile</string>
		<string>FindArmadillo</string>
		<string>FindBISON</string>
		<string>FindBLAS</string>
		<string>FindBZip2</string>
		<string>FindBacktrace</string>
		<string>FindBoost</string>
		<string>FindBullet</string>
		<string>FindCABLE</string>
		<string>FindCUDA</string>
		<string>FindCURL</string>
		<string>FindCVS</string>
		<string>FindCoin3D</string>
		<string>FindCups</string>
		<string>FindCurses</string>
		<string>FindCxxTest</string>
		<string>FindCygwin</string>
		<string>FindDCMTK</string>
		<string>FindDart</string>
		<string>FindDevIL</string>
		<string>FindDoxygen</string>
		<string>FindEXPAT</string>
		<string>FindFLEX</string>
		<string>FindFLTK</string>
		<string>FindFLTK2</string>
		<string>FindFreetype</string>
		<string>FindGCCXML</string>
		<string>FindGDAL</string>
		<string>FindGIF</string>
		<string>FindGLEW</string>
		<string>FindGLUT</string>
		<string>FindGTK</string>
		<string>FindGTK2</string>
		<string>FindGTest</string>
		<string>FindGettext</string>
		<string>FindGit</string>
		<string>FindGnuTLS</string>
		<string>FindGnuplot</string>
		<string>FindHDF5</string>
		<string>FindHSPELL</string>
		<string>FindHTMLHelp</string>
		<string>FindHg</string>
		<string>FindITK</string>
		<string>FindIcotool</string>
		<string>FindImageMagick</string>
		<string>FindJNI</string>
		<string>FindJPEG</string>
		<string>FindJasper</string>
		<string>FindJava</string>
		<string>FindKDE3</string>
		<string>FindKDE4</string>
		<string>FindLAPACK</string>
		<string>FindLATEX</string>
		<string>FindLibArchive</string>
		<string>FindLibLZMA</string>
		<string>FindLibXml2</string>
		<string>FindLibXslt</string>
		<string>FindLua</string>
		<string>FindLua50</string>
		<string>FindLua51</string>
		<string>FindMFC</string>
		<string>FindMPEG</string>
		<string>FindMPEG2</string>
		<string>FindMPI</string>
		<string>FindMatlab</string>
		<string>FindMotif</string>
		<string>FindOpenAL</string>
		<string>FindOpenGL</string>
		<string>FindOpenMP</string>
		<string>FindOpenSSL</string>
		<string>FindOpenSceneGraph</string>
		<string>FindOpenThreads</string>
		<string>FindPHP4</string>
		<string>FindPNG</string>
		<string>FindPackageHandleStandardArgs</string>
		<string>FindPackageMessage</string>
		<string>FindPerl</string>
		<string>FindPerlLibs</string>
		<string>FindPhysFS</string>
		<string>FindPike</string>
		<string>FindPkgConfig</string>
		<string>FindPostgreSQL</string>
		<string>FindProducer</string>
		<string>FindProtobuf</string>
		<string>FindPythonInterp</string>
		<string>FindPythonLibs</string>
		<string>FindQt</string>
		<string>FindQt3</string>
		<string>FindQt4</string>
		<string>FindQuickTime</string>
		<string>FindRTI</string>
		<string>FindRuby</string>
		<string>FindSDL</string>
		<string>FindSDL_image</string>
		<string>FindSDL_mixer</string>
		<string>FindSDL_net</string>
		<string>FindSDL_sound</string>
		<string>FindSDL_ttf</string>
		<string>FindSWIG</string>
		<string>FindSelfPackers</string>
		<string>FindSquish</string>
		<string>FindSubversion</string>
		<string>FindTCL</string>
		<string>FindTIFF</string>
		<string>FindTclStub</string>
		<string>FindTclsh</string>
		<string>FindThreads</string>
		<string>FindUnixCommands</string>
		<string>FindVTK</string>
		<string>FindWget</string>
		<string>FindWish</string>
		<string>FindX11</string>
		<string>FindXMLRPC</string>
		<string>FindZLIB</string>
		<string>Findosg</string>
		<string>FindosgAnimation</string>
		<string>FindosgDB</string>
		<string>FindosgFX</string>
		<string>FindosgGA</string>
		<string>FindosgIntrospection</string>
		<string>FindosgManipulator</string>
		<string>FindosgParticle</string>
		<string>FindosgPresentation</string>
		<string>FindosgProducer</string>
		<string>FindosgQt</string>
		<string>FindosgShadow</string>
		<string>FindosgSim</string>
		<string>FindosgTerrain</string>
		<string>FindosgText</string>
		<string>FindosgUtil</string>
		<string>FindosgViewer</string>
		<string>FindosgVolume</string>
		<string>FindosgWidget</string>
		<string>Findosg_functions</string>
		<string>FindwxWidgets</string>
		<string>FindwxWindows</string>
		<string>FortranCInterface</string>
		<string>GNUInstallDirs</string>
		<string>GenerateExportHeader</string>
		<string>GetPrerequisites</string>
		<string>InstallRequiredSystemLibraries</string>
		<string>MacroAddFileDependencies</string>
		<string>ProcessorCount</string>
		<string>SelectLibraryConfigurations</string>
		<string>SquishTestScript</string>
		<string>TestBigEndian</string>
		<string>TestCXXAcceptsFlag</string>
		<string>TestForANSIForScope</string>
		<string>TestForANSIStreamHeaders</string>
		<string>TestForSSTREAM</string>
		<string>TestForSTDNamespace</string>
		<string>UseEcos</string>
		<string>UseJava</string>
		<string>UseJavaClassFilelist</string>
		<string>UseJavaSymlinks</string>
		<string>UsePkgConfig</string>
		<string>UseSWIG</string>
		<string>Use_wxWindows</string>
		<string>UsewxWidgets</string>
		<string>WriteBasicConfigVersionFile</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>CMAK</string>
	<key>BBLMLanguageDisplayName</key>
	<string>CMake</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>CMakeLists.txt</string> <!-- this isn't working the way I want. -->
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.cmake</string>
		</dict>
	</array>
	<key>BBLMCommentLineDefault</key>
	<string>#</string>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string><![CDATA[(?>#.*$)]]></string>

		<key>Identifier and Keyword Character Class</key>
		<string>a-z_A-Z0-9</string>

		<key>Skip Pattern</key>
		<string><![CDATA[((?P>comment)|(?P>string))]]></string>

		<key>String Pattern</key>
		<string><![CDATA["(?>\\.|[^"\\])*"]]></string>
	</dict>
</dict>
</plist>
